<div class="hero-unit">
   <h1>歡迎來到 Microblog</h1>
   <p>Microblog 是一個以 Node.js 為基礎的微博系統。</p>
    <p>
        </p>
        </div>
<% locals.posts.forEach(function(post, index){ %>
    <p><h2><a href="#"><%= post.title %></a></h2><time><%= post.time %> by:<a href="#"><%= post.user %></a></time></p>
    <p><%- post.post %></p>
<% }) %>

</div>
